<table class="table table-striped table-hover table-condensed table-responsive">
  <caption>Drugs</caption>
  <thead>
    <th>Label</th>
    <th>CUI</th>
    <th>Ontology</th>
    <th>Context</th>
  </thead>
  <tbody>
    <tr ng-repeat="drug in _extractDrug.instances">
      <td class="no-wrap">{{drug.term}}</td>
      <td class="no-wrap">{{drug.cui}}</td>
      <td class="no-wrap">{{drug.onto}}</td>
      <td class="word-wrap">{{drug.context.replace("\t","*")}}</td>
    </tr>
  </tbody>
</table>
