<table class="table table-striped table-hover table-condensed table-responsive">
  <caption>Lookup results</caption>
  <thead>
    <th>Term</th>
    <th>UMID</th>
    <th>Ontology</th>
  </thead>
  <tbody>
    <tr ng-repeat="term in _lookupLookup.instances">
      <td class="no-wrap">{{term.term}}</td>
      <td class="no-wrap">{{term.cui}}</td>
      <td class="no-wrap">{{term.onto}}</td>
    </tr>
  </tbody>
</table>
