<table class="table table-striped table-hover table-condensed table-responsive">
  <caption>Disorders</caption>
  <thead>
    <th>Label</th>
    <th>UMID</th>
    <th>Ontology</th>
  </thead>
  <tbody>
    <tr ng-repeat="disorder in _lookupDisorders.instances">
      <td class="no-wrap">{{disorder.label}}</td>

      <!--- Use correct URL for used ontology --->
      <td ng-if="disorder.onto == 'MEDDRA' || disorder.onto == 'RXNORM'" class="no-wrap">
        <a href="http://bioportal.bioontology.org/ontologies/{{disorder.onto}}?p=classes&conceptid={{disorder.umid}}" target="_blank">{{disorder.umid}}</a>
      </td>
      <td ng-if="disorder.onto == 'DRUGBANK'" class="no-wrap">
        <a href="https://www.drugbank.ca/drugs/{{disorder.umid}}" target="_blank">{{disorder.umid}}</a>
      </td>

      <td class="no-wrap">{{disorder.onto}}</td>
    </tr>
  </tbody>
</table>
