<table class="table table-striped table-hover table-condensed table-responsive">
  <caption>Lookup results</caption>
  <thead>
    <th>Term</th>
    <th>UMID</th>
    <th>Ontology</th>
  </thead>
  <tbody>
    <tr ng-repeat="term in _lookupLookup.instances">
      <td class="no-wrap">{{term.term}}</td>

      <!--- Use correct URL for used ontology --->
      <td ng-if="term.onto == 'DRUGBANK'" class="no-wrap">
        <a href="https://www.drugbank.ca/drugs/{{term.umid}}" target="_blank">{{term.umid}}</a>
      </td>

      <!--- RXNORM ontology can use two types of identifiers, need to differentiate --->
      <td ng-if="term.onto == 'MEDDRA' || term.onto == 'RXNORM'" class="no-wrap">
        <a ng-if="term.umid[0] == 'C'" href="http://bioportal.bioontology.org/search?q={{term.umid}}&ontologies={{term.onto}}&include_properties=false&include_views=false&includeObsolete=false&require_definition=false&exact_match=false&categories=" target="_blank">{{term.umid}}</a>
        <a ng-if="term.umid[0] != 'C'" href="http://bioportal.bioontology.org/ontologies/{{term.onto}}?p=classes&conceptid={{term.umid}}" target="_blank">{{term.umid}}</a>
      </td>

      <td ng-if="term.onto == 'DRUGSATFDA'" class="no-wrap">
        <a href="https://www.accessdata.fda.gov/scripts/cder/daf/index.cfm?event=overview.process&ApplNo={{term.umid}}" target="_blank">{{term.umid}}</a>
      </td>

      <td ng-if="term.onto == 'NDDF' || term.onto == 'ATC'" class="no-wrap">
        <a href="http://bioportal.bioontology.org/search?q={{term.umid}}&ontologies={{term.onto}}&include_properties=false&include_views=false&includeObsolete=false&require_definition=false&exact_match=false&categories=" target="_blank">{{term.umid}}</a>
      </td>

      <td class="no-wrap">{{term.onto}}</td>
    </tr>
  </tbody>
</table>
